@mixin vh-centered-content {
  border-radius: 1em;
  padding: 1em;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: rgb(23, 163, 184);
}

#quote-box {
  @include vh-centered-content;
}
